@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-tan-50: #fdf4eb;
	--color-tan-100: #eae8e1;
	--color-tan-200: #d3cec8;
	--color-tan-300: #b9b4ab;
	--color-tan-400: #a39d92;
	--color-tan-500: #958e82;
	--color-tan-600: #8f8779;
	--color-tan-700: #7d7466;
	--color-tan-800: #706757;
	--color-tan-900: #625947;

	--color-body: oklch(25.81% 0 80.69);
	--color-text: oklch(74.01% 0.016 80.69);

	--color-primary: var(--color-tan-600);
	--color-primary-light: var(--color-tan-400);
	--color-primary-dark: var(--color-tan-800);
	--color-text-light: var(--color-tan-700);
	--color-background: var(--color-body);
	--color-background-dark: var(--color-tan-100);
}

:root {
	color-scheme: dark;
}

body {
	background-color: var(--color-body);
	color: var(--color-text);
}

a {
	color: oklch(74.01% 0.1525 80.69);
	transition-timing-function: cubic-bezier(0.4, 0.2, 0.2, 1);
	transition-duration: 300ms;

	&:hover {
		color: oklch(81.6% 0.1525 80.69);
	}
}
